<!DOCTYPE html>
<html lang=en xmlns:th="http://www.thymeleaf.org">

<head>
    <title></title>
    <link href="/static/css/navBar.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap" rel="stylesheet">
</head>

<body>

<div class="topnav" th:include="fragments/navbar">
</div>

<div class="main">
</div>
</body>

</html>